*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #f0f0f0;
    min-height: 100vh;
}
.linea{
    background: #550b51;
    height: 2px;
    width: 100%;
    display: block;
}
.nav{
    width: 90%;
    margin: auto;
    padding: 2px 0 5px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
.nav ul li>a:hover{
    color: rgb(99, 59, 99);
    transition: 0.4s ease-out;
}
.nav ul li::before{
    content: "";
    height: 3px;
    width: 0;
    background:lightcoral;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.nav ul li:hover::before{
    width: 100%;

}
.Title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem ;
    text-decoration: none;
    color: #000;
}
.selector .img-contenedor{
    margin-left: 20px;
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
}
.selector .img-contenedor .main_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
}
.selector .Img-select{
    width: 33%;
    height:80px;
    display: flex;
    justify-content: space-between;
}
.Img-select{
    margin-left: 20px;
}
.selector .Img-select .img_select{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
}