*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: linear-gradient(-60deg, #9DC7C8 20%, #fff 80%);
    min-height: 115vh;
}
body::-webkit-scrollbar{
    width: 7px;
    background: #9DC7C8;
}
body::-webkit-scrollbar-thumb{
   background: #00000057;
   border-radius: 10px;
   border-right: 2px solid #9DC7C8 ;
}
.linea{
    background: #000;
    height: 2px;
    width: 100%;
    display: block;
}
.nav{
    width: 95%;
    margin: auto;
    padding: 2px 0 5px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
}
.nav ul li>a:hover{
    color:#e0bf63fb;
    transition: 0.4s ease-out;
}
.nav ul li::before{
    content: "";
    height: 3px;
    width: 0;
    background:#e0bf63fb;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s ease-out;
}
.nav ul li:hover::before{
    width: 100%;
}
.Title{
    margin-left: 10%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem ;
    text-decoration: none;
    color: #000;
}
.Title:hover{
    color:#e0bf63fb;
    transition: 1s;
}
.logo{
    padding: 5px 0 2px;
    width: 80px;
    cursor: pointer;
}
.logo:hover{
    transform: rotate(11deg);
    transition: .5s; 
}
.contenedor{
    width: 100%;
    background-image: linear-gradient(-30deg, #9DC7C8 5%, #fff 95%);
    height: 90px;
   z-index: 100;
   animation-name: cont;
   animation-duration: 5s;
}
@keyframes cont{
    0%{
        transform: translateY(-100%);
    }
    40%{
        transform: translateY(0%);
    }

}
nav{
    position: static;
    background-image: linear-gradient(-30deg, #9DC7C8 5%, #fff 95%);
    height: 90px;
    width: 100%;
}
.enlace{
    position: absolute;
}
.checkbtn{
    color: #000;
    font-size: 25px;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 750px){
    .nav ul li>a:hover{
        color:#e0bf63fb;
        transition: 0.4s ease-out;
    }
    .nav ul li::before{
        content: "";
        height: 3px;
        width: 0;
        background:#e0bf63fb;
        position: absolute;
        left: 0;
        transition: 0.4s ease-out;
    }
    .nav ul li:hover::before{
        width: 100%;
    }
    .logo{
        margin-left: 40px;
    }
    .Title{
        text-align: center;
        align-items: center;
        margin-left: 32%;
    }
    nav{
        position: fixed;
        z-index: 100;
        background-image: linear-gradient(-60deg, #9DC7C8 20%, #fff 80%);
    }
    .contenedor{
        background-image: linear-gradient(-60deg, #9DC7C8 20%, #fff 80%);
        position:  fixed;
        width: 100%;
        height: 90px;
        z-index: 100;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        background-image: linear-gradient(-60deg, #9DC7C8 20%, #fff 80%);
        position: fixed;
        right:-100%;
        top: 90px;
        width: 100%;
        padding: 20px 0;
        height: 100%;
        overflow-y: auto;
        z-index: 100;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        line-height: 60px;
    }
    #check:checked ~ ul {
        right:0;
    }
    .checkbtn{
        display: block;
        margin-right: 0px;
    }
    .selector .img-contenedor{
        margin-top: 100px;
    }
}
.selector .img-contenedor{
    margin-left: 20px;
    width: 450px;
    height: 450px;
    margin-bottom: 20px;

    /*Animacion galery*/
    animation-name: galery;
    animation-duration: 5s;
}
@keyframes galery{
 0%{
     transform: translateY(-5%);
 }
 40%{
     transform: translateY(0%);
 }

}
.selector{
    margin-top: 30px;
}
.main_img{
    margin-bottom: 30px;
}
.selector .img-contenedor .main_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
}
.selector .Img-select{
    height:80px;
    display: flex;
    justify-content: space-between;
}
.selector .Img-select .img_select{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .7;
    transition: 1.2s;
    object-fit: cover;
}
.selector .Img-select .img_select:hover{
    opacity: 1;
}
.active{
    opacity: 1 !important;
    box-shadow: 0 5px rgba(1, 23, 46, 0.6);
}