*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media(min-width:0px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 100px;
        border-radius: 2%;
    }
}

@media screen and (max-width:522px)
{
    .formulario{
        margin: auto;
        width: 95%;
        margin-top: 25%;
        border-radius: 2%;
    }   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagenes/mar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    margin-top: 100px;
    padding: 3px;
    background: rgb(245, 245, 245);
    position: relative;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    margin-top: 44px;
}

input[type="text"],
input[type="email"],
input[type="password"] 
{
    background: rgb(245, 245, 245);
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input{
    margin-bottom: 20px;
    border: 1px solid #aaa;
}

i{
    min-width: 40px;
    text-align: center;
    color: #999;
}

.boton{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover{
    background: rgb(67, 117, 218);
}

p{
    text-align: center;
    padding: 16px 2px;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: rgb(32, 106, 255);
}

hr{
    height: 0.1px;
    background-color: #999;
    opacity: 50%;
}

.caja{
    top: -9%;
    left: 40%;
    width: 104px;
    height: 104px;
    position: absolute;
}