*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito','sans-serif';
}
body{
    font-family: sans-serif;
}
.contenedor{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.linea{
    background: rosybrown;
    height: 5px;
    width: 100%;
    display: block;
}
.nav{
    width: 90%;
    margin: auto;
    padding: 2px 0 5px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
text-decoration: none;
color: #000;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.2rem;
}

.nav ul li>a:hover{
    color: #633b63;
    transition: 0.4s ease-out;
}

.nav ul li::before{
    content: "";
    height: 3px;
    width: 0;
    background:lightcoral;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.nav ul li:hover::before{
    width: 100%;

}
.Title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem ;
    text-decoration: none;
    color: #000;
}
.slider{
    width: 100%;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: transition 20s infinite;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 650px;
}
@keyframes transition{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
   
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.sn-titulo{
    color: #000;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-left: 40px;
}

.sobre-nosotros {
    padding: 20px;
    display: flex;
    text-align: center;
}

.tarjeta {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.tarjeta:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}

.card img {
    width: 100%;
    height: 210px;
    text-align: center;
}

.tarjeta .contenido {
    padding: 15px;
    text-align: center;
}

.tarjeta .contenido p {
    line-height: 1.5;
    color: #6a6a6a;

}

.tarjeta .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}
.maps {
    margin: 20px;

} 
.maps h2{
    font-size: 1,5rem;
    font-weight: 500;
    color: rgb(14, 60, 185);
    text-align: center;
}
.maps .mapa{
    padding: 20px;
    text-align: center;
}
iframe{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}
iframe:hover{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-0.5%);
}

.carousel{
    min-height: 500px;
    max-height: 500px;
}
.carousel .carousel-item{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
user-select: none;
width: 100%;
height: 100%;
}
.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}   
.carousel .carousel-item h3{
    color: #fff;
}

body{
    margin:0;
    overflow-x:hidden;    
}
.footer{
    background:#5f5f5f;
    padding:6px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
.footer .row{
    width:100%;
    margin:2% 0%;
    padding:0.8% 0%;
    color:rgb(0, 0, 0);
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    transition:0.5s;
    font-size: 15px;
}
.footer .row a:hover{
    color:rgb(3, 3, 3);
}
    
.footer .row ul{
    width:100%;
}
.footer .row ul li{
    display:inline-block;
    margin:0px 20px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 2%;
}
@media (max-width:720px){
.footer{   
text-align:left;
padding:5%;
}

}