*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.contenedor{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.linea{
    background: rosybrown;
    height: 5px;
    width: 100%;
    display: block;
}
.nav{
    width: 90%;
    margin: auto;
    padding: 2px 0 5px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
text-decoration: none;
color: #000;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.2rem;
}

.nav ul li>a:hover{
    color: rgb(99, 59, 99);
    transition: 0.4s ease-out;
}

.nav ul li::before{
    content: "";
    height: 3px;
    width: 0;
    background:lightcoral;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.nav ul li:hover::before{
    width: 100%;

}
.Title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem ;
    text-decoration: none;
    color: #000;
}
.slider{
    width: 100%;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: transition 20s infinite;
    width: 400%;
}








.mapa{
    width: 100%;
    height: 500px;
    background-color: #F3F3F3;
}
.fondo{
    position: absolute;
}
.textoImg{
    position: relative;
    text-align: center;
    padding-top: 10%;
}
.textoImg button{
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;

}
.textoImg button a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000;
}
.fondo{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.maps{
    border-color: #000;
    border-radius: 3px;
    border: 3px;
}
